.feedburnerFeedBlock{
	width: 60%; 
	margin: 0 auto !important; 
	@media #{$small-only}{
		width: 100%; 
	}
	img{
		width: 40% !important; 
		@media #{$small-only}{}
	}
	ul{
		list-style-type: none; 
	}
	li{
		margin-bottom: rem-calc(80); 
	}
	.headline{
		a{
			color: $orange; 
			font-size: rem-calc(30); 
		}
	}
	span{
		color: $black !important; 
		font-family: inherit !important; 
	}
}
#blog{
	max-height: rem-calc(600); 
}
