

.content{
	.text-banner{
		text-align: left; 
	}
	.content-banner{
		text-align: left; 
		margin: rem-calc(80) 0; 
		h1, h3, h2, h4, p, span{
			color: $orange;
			text-align: left; 
		}
		@media #{$medium-only}{
			h1{font-size:rem-calc(28);}
			h3{font-size:rem-calc(16);}
			margin: rem-calc(60) 0; 
		}
		@media #{$small-only}{
			h1{font-size:rem-calc(22);}
			h3{font-size:rem-calc(14);}
			margin: rem-calc(40) 0; 
		}
		
	}
	.info-box{
		margin: rem-calc(100) 0; 
		@media #{$medium-only}{
			padding: 0 rem-calc(2); 
			.top-info-box h4{
				font-size: rem-calc(16); 
			}
		}
		.top-info-box{
			text-align: center;
			width: 100%; 
			
			h4{
				color: $snow; 
				background-color: $orange; 
				padding: rem-calc(7); 
				margin-bottom: rem-calc(18); 
			}
		}
		img{
			width: 100%; 
			margin-bottom: rem-calc(18); 
		}
	}
	.scroll-box{
		@media #{$small-only}{
			height: rem-calc(215) !important; 
		}
		padding-right: rem-calc(15); 
		.orange{
			color: $orange; 
		}
		width: 100%; 
		position: relative; 
		text-align: left; 
		overflow:hidden;
		p{
			font-size: rem-calc(16); 

		}
	}
}


.text-block{
	text-align: center; 
	margin: rem-calc(40) 0; 
	h1{
		color: $orange; 
	}
	span{
		color: $orange; 
		font-size: rem-calc(21); 
	}
	small{
		font-size: rem-calc(12); 
	}
}
.slick-slider{
	img{
		margin-left:rem-calc(12); 
		margin-right:rem-calc(12); 
	}
}
@media #{$small-only}{

	.slick-prev, .slick-next{
	}
}
.slick-prev{
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}
.slick-prev, .slick-next{
	height: auto !important; 
}	
@media #{$medium-only}{
	.slick-slide img{
		width: rem-calc(200);
	}
	.slick-slider img{
		margin-left:rem-calc(8); 
		margin-right:rem-calc(8); 
	}
}
