

.content{
	.text-banner{
		text-align: left; 
	}
	.content-banner{
		text-align: left; 
		margin: rem-calc(80) 0; 
		h1, h3, h2, h4, p, span{
			color: $orange;
			text-align: left; 
		}
		@media #{$medium-only}{
			h1{font-size:rem-calc(28);}
			h3{font-size:rem-calc(16);}
			margin: rem-calc(60) 0; 
		}
		@media #{$small-only}{
			h1{font-size:rem-calc(22);}
			h3{font-size:rem-calc(14);}
			margin: rem-calc(40) 0; 
		}
		@media #{$large-only}{
			h1{font-size:rem-calc(20);}
			h3{font-size:rem-calc(14);}
			margin: rem-calc(40) 0; 
		}
		@media #{$xlarge-only}{
			h1{font-size:rem-calc(22);}
			h3{font-size:rem-calc(16);}
			margin: rem-calc(40) 0; 
		}
	}
	.info-box{
		margin: rem-calc(100) 0; 
		.top-info-box{
			text-align: center;
			width: 100%; 
			
			h4{
				color: $snow; 
				background-color: $orange; 
				padding: rem-calc(7); 
				margin-bottom: rem-calc(18); 
			}
		}
		img{
			width: 100%; 
			margin-bottom: rem-calc(18); 
		}
	}
	.scroll-box{
		padding-right: rem-calc(15); 
		.orange{
			color: $orange; 
		}
		width: 100%; 
		position: relative; 
		text-align: left; 
		overflow:hidden;
		p{
			font-size: rem-calc(16); 

		}
	}
}


.text-block{
	text-align: center; 
	margin: rem-calc(40) 0; 
	h1{
		color: $orange; 
	}
	span{
		color: $orange; 
	}
}