.banner{
	position: absolute; 
	background: url(../images/pattern.png);
	background-repeat: repeat;
	width: 100%; 
	height: 864px; 
	z-index: 2;
}
.banner-video{
	transform: scaleY(0.8); 
	-moz-transform: scaleY(0.8);
	-webkit-transform: scaleY(0.8);
	-ms-transform: scaleY(0.8);
	transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	top: 0;
	width: 100%; 

}