.header{
	border-bottom: 1px solid $grey; 
	@media #{$medium-up}{height: 8.5em;}
	@media #{$xlarge-up}{height: 11.5em;}
	.logo{
		display: block; 
		margin-top: -0.33em; 
		.logo-text{
			@media #{$small-up}{}
			@media #{$medium-up}{
				width: 224px; 
			}
			@media #{$xlarge-up}{
				width: 320px; 
			}
		}

		.logo-circles{ 
			-webkit-animation:spin 4s linear infinite;
			-moz-animation:spin 4s linear infinite;
			animation:spin 4s linear infinite;
			@media #{$small-up}{}
			@media #{$medium-up}{
				width: 78.4px; 
				margin-left: -1.5em;
				margin-top: 0.25em;
			}
			@media #{$xlarge-up}{
				width: 112px; 
				margin-left: -2.03em;
				margin-top: 0.35em; 
			}
		}
		.logo-subtext{
			@media #{$small-up}{}
			@media #{$medium-up}{
				width: 148px; 
				margin-top: -2.4em;
				margin-left: -1.7em;
			}
			@media #{$xlarge-up}{
				width: 211px; 
				margin-top: -2.7em;
				margin-left: -2.2em; 
			}
		
			-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
		    -moz-animation: fadein 4s; /* Firefox < 16 */
		    -ms-animation: fadein 4s; /* Internet Explorer */
		    -o-animation: fadein 4s; /* Opera < 12.1 */
		    animation: fadein 4s;
		}

	}
	.nav{

		@media #{$small-up}{}
		@media #{$medium-up}{
			margin-top: -4em; 
			font-size: 0.9em; 
			margin-left: -2em; 
		}
		@media #{$xlarge-up}{
			margin-left: -1.8em; 
			list-style-type: none;
			margin-top: -3em; 
			font-size: 1em; 
		}
		li{
			display: inline-block;
			@media #{$medium-up}{padding: 0 1em;} 
			@media #{$xlarge-up}{padding: 0 1.2em;} 
			a{
				color: $dark-grey;  
			}
			a:hover{
				color: $orange; 
			}
		}
	}
}



@-moz-keyframes spin { 40%,  100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 40%, 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 40%, 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}