.footer{
	height: rem-calc(240); 
	line-height: rem-calc(24); 
	div{
		height: rem-calc(220); 
	}
	overflow: hidden; 
 	margin: 0; 
 	padding: rem-calc(10); 
	background-color: $grey; 
	border-top: 1px solid $dark-grey; 
	a{
		color: $snow; 
		font-weight: 100 !important; 
		@media #{$small-up}{ font-size: rem-calc(9); }
		@media #{$large-up}{ font-size: rem-calc(12);}
	}
	a:hover{
		color: $orange; 
	}
	ul{
		list-style-type: none; 
	}
}